<%= title "Tasks" %>

<div id="date_for_timesheet">
	<% form_tag time_sheet_path do %>
		<p>
			Generate time sheet for
			<%= select_date @begin_sheet_date, :discard_day => true %>
			<%= submit_tag "Generate" %>
		</p>
	<% end %>
	
</div>

<table>
  <tr>
    <th width=25% >Description</th>
		<th width=50% >Entries</th>
  </tr>
  <%= render @tasks %>
</table>

<p><%= link_to "New Task", new_task_path %></p>
