<%= title "Time Sheet"%>
<h2> <%=h @from_date.strftime("%b %Y") %>  </h2>


<% form_tag time_sheet_download_path do %>
	<p>
		<%= select_date @from_date, :discard_day => true %> <%= submit_tag "Download" %> 
	</p>
<% end %>

<div class="scrollable">
	<table border="3" cellspacing="3" cellpadding="5">
		<% @table.each do |row| %>
			<tr>
			<% row.each_with_index do |item, index| %>
				<td>
					<%= item %>
				</td>
			<% end %>
			</tr>
		<% end %>
	</table>
</div>

<%= link_to 'Back', :back %>